<% content_for :page_title do %>
  <%= link_to "#{Spree.t(:editing_user)} #{@user.email}", edit_admin_user_url(@user) %> / <%= Spree.t("admin.gift_cards.redeem_gift_card") %>
<% end %>

<%= render :partial => 'spree/admin/users/sidebar', :locals => { :current => :gift_cards } %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t("admin.store_credits.back_to_user_list"), admin_users_path, class: 'btn btn-default' %>
<% end %>

<%= form_for :gift_card, url: redeem_admin_user_gift_cards_path do |f| %>
  <fieldset>
    <%= f.field_container :redemption_code, class: ['form-group'] do %>
      <%= f.label :redemption_code, Spree.t('admin.gift_cards.redemption_code') %> <span class="required">*</span>
      <div class="input-group">
        <%= f.text_field :redemption_code, class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit Spree.t('admin.gift_cards.redeem_gift_card'), class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
  </fieldset>
<% end %>
