<% content_for :page_title do %>
  <%= Spree.t(:gift_cards) %>
<% end %>

<%= render partial: 'lookup_form' %>

<table class="table">
  <thead>
    <tr>
      <th><%= Spree.t(:redemption_code) %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:purchased_by) %></th>
      <th><%= Spree.t(:purchased_at) %></th>
      <th><%= Spree.t(:redeemed_by) %></th>
      <th><%= Spree.t(:redeemed_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_cards.each do |gift_card| %>
      <tr>
        <td><%= gift_card.formatted_redemption_code %></td>
        <td><%= number_to_currency(gift_card.amount) %></td>
        <td><%= link_to "#{gift_card.purchaser.first_name} #{gift_card.purchaser.last_name}", edit_admin_user_path(gift_card.purchaser) %></td>
        <td><%= gift_card.created_at.localtime.strftime("%F %I:%M%p") %></td>
        <% if gift_card.redeemed? %>
          <td><%= link_to "#{gift_card.redeemer.first_name} #{gift_card.redeemer.last_name}", edit_admin_user_path(gift_card.redeemer) %></td>
          <td><%= gift_card.redeemed_at.localtime.strftime("%F %I:%M%p") %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
